.flex1{
    display: flex; 
    flex-direction: row; 
    Justify-content: space-between; 
    align-items: center;
}
.flex2{
    display: flex; 
    flex-direction: row; 
    Justify-content: space-between; 
    align-items: center; 
}
.flex3{
    display: flex; 
    flex-direction: row; 
    Justify-content: space-between; 
    align-items: center; 
}
.rating-container{
    display: flex; 
    flex-direction: row; 
    gap: 12px; 
    align-items: center; 
}
.rating{
    margin-left: 36px;
}
.card{
    height: 400px;
    width: 200px;
    margin: 300px auto;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.card-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.card-price{
    width: 100%;
    height: 80px;
    background-color:magenta ;
    display: flex;
    justify-content: center;
    align-items: center;
}